body {
    background-color: ivory;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    margin: 1rem;
}

h1 {
    font-size: 2.4rem;
    font-weight: 400;
    margin: 0;
}